<nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom border-light">
	<div class="container">
		<a href="index.html" class="navbar-brand">Glozzom</a>
		<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</nav>